/* Body styles */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: azure;
}

.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    left: 40px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

h1{
    size: 45px;
}

/* main content styles */
.main-content{
    margin: auto;
}

.about-content, .project-content, .work-content, .education-content{
    margin: 20px 90px 0px 90px;
    border-radius: 15px;
    padding: 10px;
    background-color: gainsboro;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
}

.education-content{
    margin-bottom: 40px;
}

/* sidebar content styles */

.side-bar{
    color: aliceblue;
    width: 370px;
    margin: 0px 0px 0px 20px;
}

.candidate-photo{
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
}

.side-content{
    margin:5px 0px 20px 0px;
    border-radius: 15px;
    padding: 5px 5px 5px 30px;
    background-color: #505960;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
}

.fa {
    margin-right: 10px;
}

.side-header3{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 5px;
}

.side-links:visited, .side-links:link{
    font-style: normal;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.5;
}

.contact-type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
}

.side-list{
    padding: 0;
    margin-left: 15px;
    color: orangered;
}

.list-element{
    color: #FFFFFF;
}
