/* Body styles */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    left: 40px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content style */
.main-content{
    padding: 90px 90px;
    margin-right: auto;
}

/* About section style */
.about-content{
    margin: 0px 0px 40px 0px;
    width: 400px;
}

/* Candidate position title */
.about-content h2{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

/* Candidate name style */
.about-content h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 5px;
}

/* Candidate about style */
.about-content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* Header of content sections style  (Projects, Work, Education) */
.main-content h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom:10px;
}

/* Projects section style */
.project-content{
    margin: 0px 0px 50px 0px;
}

/* List elements of projects style */
.project-content li{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project-content a:link, a:visited{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-left: 10px;
    color: #595959;
}

.project-content span{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.project-content ol{
    padding: 0;
    margin-left: 17px;
}

/* Work section style */
.work-content{
    margin: 0px 0px 40px 0px;
}

.work-content h4{
    margin-top: 10;
    margin-bottom: 15px;
}

.work-content span{
    color: #FB6D3A;
}

.work-content p{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-top: 0;
}

.work-content p span{
    color: #000000;
}

.work-content ul{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding: 0;
    margin-left: 17px;
}

/* Education section style */
.education-content{
    margin: 0px 0px 0px 0px;
}

.education-content h4{
    margin-bottom: 5px;
}

.education-content h5{
    color: #FB6D3A;
    margin-top: 0;
    margin-bottom: 10px;
}

.education-content p{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-top: 0;
}


/* Sidebar styles */
.side-bar{
    color: #FFFFFF;
    background-color: #1E2939;
    width: 370px;
    padding-top: 40px;
    margin-left: 40px;
}

.candidate-photo{
    width: 370px;
    margin-bottom: 50px;
}

.side-content{
    margin: 0px 0px 45px 50px;
}

.side-header3{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 5px;
}

.side-contacts p{
    margin: 0;
}

.side-link:visited, .side-link:link{
    font-style: normal;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.5;
}

.contact-type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
}

.side-list{
    padding: 0;
    margin-left: 15px;
    color: orangered;
}

.side-list li{
    margin-top: 5px;
}

.list-element{
    color: #FFFFFF;
}
