/* Body styles */
body{
    font-family: 'Montserrat', sans-serif;
}

.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    left: 40px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

h1{
    size: 45px;
}

/* Main content style */

.about-content{
    margin: 100px 90px 0px 90px;
}

.project-content{
    margin: 100px 90px 0px 90px;
}

.work-content{
    margin: 20px 90px 0px 90px;
}

.education-content{
    margin: 20px 90px 0px 90px;
}

/* Sidebar styles */

.side-bar{
    color: #FFFFFF;
    background-color: #1E2939;
    width: 370px;
    padding-top: 40px;
}

.candidate-photo{
    width: 370px;
    margin-bottom: 50px;
}

.side-content{
    margin: 0px 0px 0px 50px;
}

.side-header3{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 5px;
}

.side-link:visited, .side-link:link{
    font-style: normal;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.5;
}

.contact-type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
}

.side-list{
    padding: 0;
    margin-left: 15px;
    color: orangered;
}

.list-element{
    color: #FFFFFF;
}
