/* Body styles */
body{
    font-family: 'Montserrat', sans-serif;
}

.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    left: 40px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

h1{
    size: 45px;
}

.about-content{
    margin: 100px 90px 0px 90px;
}

.project-content{
    margin: 100px 90px 0px 90px;
}

.work-content{
    margin: 20px 90px 0px 90px;
}

.education-content{
    margin: 20px 90px 0px 90px;
}

.side-bar{
    color: aliceblue;
    background-color: #1E2939;
    width: 370px;
}

.candidate-photo{
    margin-top: 40px;
}

.side-content{
    margin: 40px 0px 0px 40px;
}
